*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*naknadno dodatooooo*/
}
body{
    font-family: 'Carter One', cursive;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
}
#header{
    width: 100%;
    background-image: url("../images/stars1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}
#headerHolder{

    width: 1200px;
    margin: 0px auto;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}
#headerHolder #logo{
    font-family: 'Bungee Inline', cursive;
}
#headerHolder #logRegList{
    display: flex;
    width: 75%;
    float: right;
    justify-content: space-around;
    margin-bottom: 30px;
}
#socialList {
    display: flex;
    float: left;
    width: 65%;
    justify-content: space-around;
    margin-bottom: 30px;
}
#header .fa-star{
    color: #0a0c70;
    text-shadow: 0px 4px #ebebf0;
}
#socialList .fa{
    font-size: 20px;
}
#socialList .faDesign:hover{
    color: #eb34e1;
}
.widthHeaderElements{
    width: 33.33%;
}
#registrationForm, #logForm, #cart{
    background-color: rgb(5, 3, 33);
    border-radius: 7px;
}
/*  FORMEEEEEEEEEEEE*/
#registrationForm{
    position: absolute;
    top: 70px;
    left: 23%;
    /*background-color:#d8ab63;*/
    z-index: 201;
    padding: 30px;
    width: 55%;
    text-align: left;
}
.x{
    margin-left: 93%;
    font-size: 20px;
    padding-bottom:10px;
    color: #eb34e1;
}
#registrationForm #male{
    margin-left: 10px;
}
#registrationForm table {
    margin: 0px auto;
    width: 100%;
}
#registrationForm #regName ,#registrationForm #regPass,#registrationForm #regPass1,#registrationForm #email,#registrationForm #tel,#registrationForm #town,#registrationForm #address,#registrationForm #zip{
    width: 100%;
    height: 32px;
    font-size: 15px;
    padding-left: 10px;
    border-radius: 5px;
}
#registrationForm .marginTd{
    padding-left: 10px;
}
#registrationForm input {
    margin-bottom: 10px;
}
#registrationForm #btnRegistration {
    width: 100px;
    height: 35px;
    background-color: #eb34e1;
    color: #fff;
    border-width: 0px;
    border-radius: 5px;
    font-size: 15px;
    display: block;
    margin: 10px auto 0px auto;
}
#registrationForm #btnRegistration, .x:hover, #logForm #logIn, .fa-shopping-bag{
    cursor: pointer;
}
.error {
    color: #eb34e1;
    font-size: 12px;
    padding-bottom: 5px;
}
.errorRegistration{
    color: #eb34e1 !important;
    margin-top: 10px;
}
.success{
    color:#75a4f0;
    font-weight:bold;
}
#registrationForm #headlineReg{
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0px 0px 20px 0px;
    color: #eb34e1;
    font-family: 'Bungee Inline';
}
#logForm{
    position: absolute;
    z-index: 200;
    width: 180px;
    padding: 10px 20px 20px 20px;
    top:40px;
    left:70%;
    margin-top: 8px;
    background-color: rgb(5, 3, 33);
}
#logForm #logUsername,#logForm #logPass{
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 5px;
}
#logForm #logIn{
    padding: 8px;
    color: #fff;
    border-radius: 5px;
    border-width:0px;
    margin-bottom:5px;
    background-color:#eb34e1;
    font-size: 15px;
}
#cart {
    position: absolute;
    z-index: 202;
    background-color:rgb(5, 3, 33);
    text-align: center;
    color: #eb34e1;
    width: 60%;
    margin-left: -30%;
    padding:20px;
}
#wishlistHeadline{
    margin-bottom: 15px;
    font-size: 20px;
}
.prodPicWishlist{
    height: 180px;
}
#cart .quantity{
    margin-top: 10px;
    height: 30px;
    font-size: 15px;
    color: #eb34e1;
    font-weight: bold;
    padding-left: 7px;
}
#cart table td,th{
    border: 1px solid #2a384c;
    margin:0px;
    padding:20px;
}
#orderBtns{
    width: 25%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
#closeCart{
    padding:10px;
    background-color: #eb34e1;
    font-size: 15px;
    border-width: 0px;
    margin-top:15px;
    color: #fff;
    border-radius: 5px;
    letter-spacing: 1px;
}
#cart .removeBtn{
    padding: 7px;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    border-width: 0px;
    background-color: #eb34e1;
    margin-top: 15px;
}
#orderBtn{
    height: 0%;
    font-size: 15px;
    border-width: 0px;
    border-radius: 5px;
    padding:10px;
    margin-top:15px;
    color: #fff;
    background-color: #250966;
    border: 1px solid #3033c9;
    letter-spacing: 1px;
    cursor: pointer;
}
#cart .removeBtn:hover,#closeCart:hover{
    cursor:pointer;
}
#total{
    padding: 20px;
    font-size:20px;
}

/* FORMEEEEEEEEEEEEEEEE*/
#menu{
    background-color:rgba(5, 3, 33, 0.9);
    border-radius: 5px;
    width: 1200px;
    margin: 0px auto;
}
#menu #menuList{
    display: flex;
    justify-content: space-around;
    padding: 7px 0px;
    width: 70%;
    margin: 0px auto;
    color: #fff;
}
.active{
    border-bottom: 2px dotted #eb34e1;
}
#wrapper{
    width: 1200px;
    margin: 0px auto;
    color: rgb(5, 3, 33);
}
#mainContent{
    display: flex;
}
#leftWrapper{
    width: 20%;
    padding: 30px 15px 0px 15px;
    background-image: linear-gradient(to bottom, #fcccf9,#fff);
}
#left{
    position: sticky;
    top: 30px;
    bottom: 30px;
    height: 350px;
}
#priceRange{
    margin-top: 30px;
}
#leftCategories li{
    margin: 0px auto;
    text-align: center;
    padding: 7px 0px;
    color: #fff;
    background-color: rgb(5, 3, 33);
    margin-bottom: 3px;
    border-radius: 5px;
}
#left label{
    font-weight: bold;
    font-size: 17px;
}
#price{
    width: 75%;
}
#priceValue{
    font-size: 20px;
    margin-top: -3px;
    font-weight: bold;
    float: right;
}
#leftCategories .fa-angle-right{
    float: right;
    color: #fff;
    font-size: 17px;
    padding-right: 15px;
    margin-top: 4px;
    height: 100%;
}
.activeCategoryLeftSide a{
    color: #f081ea !important;
}
#priceSort{
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 40px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: rgb(5, 3, 33);
    font-family: 'Carter One', cursive;
    font-weight: bold;
    border: 1px solid rgb(5, 3, 33);
    border-radius: 5px 0px 0px 5px;
}
#priceSortHolder:after{
    content: '>';
    font: 25px 'Carter One', cursive;
    color: #eb34e1;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -5px;

    top: 5px;
    border-bottom: 1px solid rgb(5, 3, 33);
    padding: 0px 17px;

    position: absolute;
    pointer-events: none;
}
#left .fa-angle-down{
    color: #fff;
    font-size: 20px;
    padding: 13px 10px;
    border-radius:0px 5px 5px 0px;
    background-color: rgb(5, 3, 33);
    margin-left: -5px;
}
                                /* RANGEEEEEEEEEE */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #eb34e1;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f754ef;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #eb34e1;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #c91ac1;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
    background: #c91ac1;
}
input[type=range]::-ms-fill-upper {
    background: #c91ac1;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #c91ac1;
}
                                            /*KRAJ RANGEEEE*/
#products{
    width: 80%;
    margin: 0px auto;
    padding: 20px 0px;
}
#searchHolder{
    width: 90%;
    margin: 15px auto 40px auto;
    display: flex;
    height: 35px;
}
#searchBtn{
    width: 95%;
    border: 1px solid rgb(5, 3, 33);
    border-radius: 0px 5px 5px 0px;
    padding: 0px 7px;
    font-size: 15px;
}
.fa-search{
    font-size: 20px;
    padding: 7px 10px;
    background-color:rgb(5, 3, 33);
    color: #fff;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}
#prod{
    padding: 0px 10px;
}

.product{
    width: 20%;
    /*margin: 20px 0px 0px 40px;*/
    overflow: hidden;
   /* border: 2px dotted #eb34e1;*/
    border: 2px dotted #e895e3;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    margin: 0px auto;
    height: 0%;
}
.product .fa-shopping-bag{
    position: absolute;
    padding: 7px;
    font-size: 18px;
}
.prodRow{
    margin-bottom: 20px;
    display:  flex;
    /*justify-content: space-around;*/
}
.prodPic {
    height: 250px;
    /*background-image: url('../images/ariel.png');*/
    background-size: cover;
}
.prodData{
    padding: 5px 5px 0px 5px;
    text-align: center;
    background-color: #fcccf9;
   /* background-image: linear-gradient(to top, #fcccf9,#f587ee);*/
    background-image: linear-gradient(to top, #f244e9,#fcccf9,#fff);
}
.prodName{
    font-size: 12px;
    font-weight: normal;
}
.prodPrice{
    font-family: 'Bungee Inline', cursive;
    font-size: 20px;
}
.hot{
    font-size: 14px;
    background-color: rgba(5,3,33, 0.9);
    padding: 6px 0px;
    width: 90px;
    color: #fff;
    text-align: center;
    transform: rotate(37deg);
    position: absolute;
    float: right;
    /*bottom: 18px;*/
    margin-top: 1px;
    margin-left: 120px;
}
.prodData del{
    font-size: 14px;
    margin-left: 5px;
}
.dollar{
    font-family: 'Carter One', cursive;
    font-size: 18px;
}
#pagination{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 20px auto 20px auto;
}
#pagination a{
    color: rgb(5,3,33);
    padding: 2px;
}
.activePagination{
    border-bottom: 2px dotted #eb34e1;
}
#footer{
    background-color:rgb(5,3,33);
    width:100%;
    /*padding:20px 0px;*/
    background-image: url("../images/stars1.png");
    background-size: cover;
    font-size: 18px;
}
#footerPic{
    background-color: rgba(5, 3, 33, 0.6);
    padding: 20px 0px;
}
#footCont{
    display:flex;
    width:100%;
    justify-content: center;
}
#footer h4{
    color: #eb34e1;
    font-size:17px;
    letter-spacing: 2px;
    padding-bottom:20px;
}
#footer p{
    font-size: 16px;
}
#footer .fa{
    padding-bottom: 7px;
    font-size: 20px;
}
#footer .fa:hover{
    color: #eb34e1;
}
#footer .information{
    text-align: center;
    width:20%;
    color:#fff;
    padding:30px 0px;
}
#copyright{
    text-align: center;
    color: #fff;
    font-size:13px !important;
}
#copyright a{
    color:#fff;
}
                /*   KONTAKT  */
#contact{
    padding: 20px 0px 0px 0px;
    background-image: linear-gradient(to bottom, #f78fe9, #f5d0f0);
}
#contentAdmin{
    display: flex;
    justify-content: center;
}
#subj, #body{
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 7px 0px 7px 5px;
    border: 2px solid #eb34e1;
    border-radius: 7px;
}
#cute{
    width: 220px;
    height: 220px;
    float: right;
    margin-right: 50px;
}
#body {
    height: 150px;
}
#headlineAdmin, #headlineAuthor{
    font-size: 35px;
    font-weight: normal;
    padding-bottom: 25px;
    text-align: center;
}
#adm{
    padding:70px 0px;
    color: rgb(5,3,33);
    font-size:18px;
    width:45%;
    letter-spacing: 1px;
}
#sendAdmin{
    display:block;
    margin:0px auto;
    background-color: rgb(5,3,33);
    text-transform:uppercase;
    padding: 10px 8px;
    color: #fff;
    border-width:0px;
    font-size:15px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}
#contactAdmin{
    width:45%;
    padding:30px;
    border-left: 2px dotted #eb34e1;
}
#author{
    padding: 40px 0px;
    background-image: linear-gradient(to bottom, #f78fe9, #f5d0f0);
}
#author1{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0px auto;
    height: auto;
    padding: 20px 0px;
}
#authorAbout{
    width: 60%;
}
#picAuthor{
    width: 25%;
    height: 300px;
    background-image: url("../images/me.png");
    background-size: cover;
}

                /* A D M I N */

/*ADMIN*/
#helloUsername{
    position:fixed;
    top:0px;
    z-index:10;
    width:inherit;
    background-image: linear-gradient(to bottom, #f78fe9, #f5d0f0);
}
#helloAdmin{
    text-align:center;
    font-size: 27px;
    padding:30px 0px;
    color:rgb(5, 3, 33);
}
.fa-star-o{
    color: #eb34e1;
}
.fa-sign-out{
    float:right;
    font-size: 28px;
    padding: 15px 35px 10px 0px;
    color:rgb(5, 3, 33);
}
#prodAdm{
    text-align: center;
    margin-top:95px;
    background-image: url("../images/stars1.png");
    background-repeat: no-repeat;
    width:inherit;
    background-size: cover;
}
#absProd{
    z-index:1;
    background-color: rgba(0,0,0,0.75);
}
#searchHolderA{
    width: 80%;
    margin: 15px auto 40px auto;
    display: flex;
    height: 35px;
}
#searchHolderA .fa-search{
    background-color: #250966;
}
#searchBtnA{
    width: 95%;
    border: 1px solid rgb(5, 3, 33);
    border-radius: 0px 5px 5px 0px;
    padding: 0px 7px;
    font-size: 15px;
}
#headlineProd{
    color: #eb34e1;
    padding-top: 30px;
    letter-spacing: 1px;
}
#tableProd{
    margin:0px auto;
    width:90%;
    color: #f78fe9;
    font-size: 17px;
}
#tableProd td{
    border:1px solid #f78fe9;
    padding:15px;
}
#tableProd th{
    border-color: #f78fe9;
    font-size:20px;
    padding:10px;
    color:#eb34e1;
}
#tableProd .idDish{
    color:#eb34e1;
}
#tableProd .prodNameA{
    font-size: 15px;
}
.picHold{
    width: 120px;
}
.smallPic{
    width: 120px;
    height: 150px;
}
.hotAdm{
    font-size: 15px;
    color: #fff;
    background-color: rgba(5, 3, 33, 0.8);
    width: 120px;
    padding: 3px;
    margin-top: -5px;
    background-image: linear-gradient(to top, #f244e9,#fcccf9);
}
.btnUpd,#nextNew{
    margin-bottom: 10px;
    background-color: #eb34e1;
}
.btnDel{
    background-color:#250966;
}
.btnUpd, .btnDel,#proceedUpd,#insertDish,#proceedIns,#nextNew,.disableBtn,.enableBtn,#continue,.delUser,.updUser,#proceedUpdU{
    text-transform:uppercase;
    padding: 7px;
    color: #fff;
    border-width:0px;
    font-size:12px;
    border-radius: 5px;
}
.btnUpd,#proceedUpd,#proceedIns,#insertDish,.fa-close,#sendAdmin,.delUser,.updUser,#proceedUpdU,.btnDel:hover{
    cursor:pointer;
}
#updateForm,#insertForm{
    position: absolute;
    z-index:15;
    background-color:rgb(5, 3, 33);
    color: white;
    margin:0px 35%;
    width: 35%;
    padding: 0px 40px 40px 40px;
    border-radius: 7px;
}
#prodName,#prodCat,#prodPrice,#hotProd,#oldPrice,#prodNameI,#prodPriceI,#hotProdI,#oldPriceI,#prodCatI{
    width:100%;
    margin-bottom: 20px;
    padding:7px;
    font-size:14px;
    border-radius: 5px;
    border-width: 0;
    border: 2px solid #eb34e1;
}
#newDish,#newDishI{
    color:gray;
}
#proceedUpd,#proceedIns,#proceedUpdU{
    display:block;
    background-color:#eb34e1;
    margin:0px auto;
}
#imgDish,#imgDishI{
    margin-bottom: 20px;
    color: #fff;
}
#updateForm label,#insertForm label{
    margin-bottom:17px;
    display: block;
}
#updateForm .fa-close,#insertForm .fa-close,#updateUserForm .fa-close{
    float:right;
    padding: 20px 0px;
    color:#eb34e1;
    font-size:20px;
}
#insertDish{
    margin: 25px 0px 10px 0px;
    background-color: #250966;
    border: 1px solid #3033c9;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
}
#updateForm .success,#insertForm .success,#updateUserForm .success{
    color:#344660;
    padding-bottom:20px;
}
#prodAdm #paginationA li{
    display: inline;
    padding:0px 5px;
}
#prodAdm #paginationA a{
    color: #f78fe9;
}
#prodAdm #paginationA{
    padding: 20px 0px;
}
.activePaginationA{
    border-bottom: 2px dotted #eb34e1;
}
.picHold{
    margin:0px auto;
}
